# Porta em que a API vai rodar
PORT=3333

# URL do front (usada no CORS)
FRONTEND_URL=http://localhost:5173

# String de conexão do Postgres (formato Prisma)
# Se estiver usando o docker-compose incluído, pode deixar assim:
DATABASE_URL="postgresql://financeapi:financeapi@localhost:5433/financeapi?schema=public"

# Segredo do JWT (troque em produção!)
JWT_SECRET="troque-este-segredo-em-producao"
JWT_EXPIRES_IN="7d"
